<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost()" [formGroup]="form" *ngIf="!isLoading">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName='title'/>
      <mat-error *ngIf="form.get('title').invalid">Please enter a title</mat-error>
    </mat-form-field>

    <div>
      <button mat-stroked-button color="primary" type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file" name="" id="" #filePicker (change)="onImagePick($event)">
    </div>

    <div class="image-preview" *ngIf="imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Content</mat-label>
      <textarea matInput name="content" formControlName="content"></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter the content</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      {{ post ? 'Update Post' : 'Save Post' }}
    </button>
  </form>
</mat-card>
